
    <nav class="nav d-flex justify-content-center">
        {% for menuItem in menu.get_items %}
            <a class="p-2 text-light" href="{{ menuItem.link }}">{{ menuItem.title }}</a>
        {% endfor %}
    </nav>
